.card {
  margin-top: 12px;
  border-radius: 8px;
  overflow: hidden;
  line-height: 0;

  & > img {
    width: 343px;
    height: 150px;
    object-fit: cover;
  }

  .content {
    display: flex;
    justify-content: space-between;

    & > div:nth-child(1) {
      width: 100%;
      height: 53px;
      line-height: 53px;
      padding: 0 15px;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
      background-color: white;
    }
  }
}
